---
import { getEntry } from 'astro:content'
import { render } from 'astro:content'
import SubscribeButton from '../ui/SubscribeButton.astro'
import Navbar from '../ui/Navbar.astro'

const aboutEntry = await getEntry('about', 'about')
// Check if there is actual content (excluding comments)
const hasContent = aboutEntry?.body
  ? aboutEntry.body.replace(/<!--[\s\S]*?-->/g, '').trim().length > 0
  : false
const { Content } = hasContent && aboutEntry ? await render(aboutEntry) : { Content: null }
---

{
  hasContent && Content && (
    <div class="about">
      <section class="introduction">
        <div class="introduction-content">
          <div class="inline">
            <img src="/avatar2_halftone.png" width="105" class="avatar" />
            <div class="heading">
              <p>Hola, soy</p>
              <h4>Vicente Afonso</h4>
            </div>
          </div>

          <div class="content">
            <Content />
          </div>
        </div>

        <div class="deco-img">
          <img
            src="/halftone_1765833365280-Photoroom_4.png"
            width="180"
            class="deco-img"
            alt="Ilex canariensis"
            title="Ilex canariensis"
          />
        </div>
      </section>
    </div>
  )
}

<style is:inline>
  .deco-img {
    display: block;
    margin-left: 100%;
  }

  .avatar {
    border-radius: 100%;
    image-rendering: pixelated;
    border: 1px solid var(--border);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 15px solid black;
  }
  .about:not(:empty) {
    display: flex;
    margin-bottom: 1.25rem;
  }

  .about {
    padding: 0 var(--content-padding);

    & .introduction {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;

      & .introduction-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      & .inline {
        display: flex;
        align-items: center;
        gap: 2rem;
      }

      & img {
        image-rendering: auto;
      }

      & * {
        margin: 0;
        padding: 0;
      }

      & .heading p {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 0.4rem;
      }

      & .heading h4 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  .content p {
    font-size: var(--font-size-m);
    margin: 0.4rem 0 0.4rem 0;
  }
</style>
