---
import FormattedDate from '@/components/widgets/FormattedDate.astro'
import type { PostListProps } from '@/types'
import { themeConfig } from '@/config'
import PostPreview from '../ui/PostPreview.astro'

const { posts } = Astro.props as PostListProps
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/${post.id}/`}>
          <PostPreview post={post} />
        </a>
      </li>
    ))
  }
</ul>
<div class="placeholder"></div>

<style>
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
</style>
