---
import type { PostListProps } from '@/types'
import PostPreview from '../ui/PostPreview.astro'

const { posts } = Astro.props as PostListProps
---

<ul>
  {
    posts.map((post) => (
      <li>
        <PostPreview post={post} />
      </li>
    ))
  }
</ul>
<div class="placeholder"></div>

<style is:inline>
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  li {
    margin: 0;
  }

  * {
    color: var(--text-primary);
    text-decoration: none;
  }
</style>
