---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import { themeConfig } from '@/config'
import SubscribeButton from '@/components/ui/SubscribeButton.astro'
import Navbar from '@/components/ui/Navbar.astro'
import { postsWithPhotos } from '@/utils/postWithPhotos'

const posts = postsWithPhotos
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />

  <div class="nav">
    <Navbar />
    <SubscribeButton />
  </div>

  <main>
    <PostList posts={posts} />
  </main>
  {
    process.env.NODE_ENV === 'development' && (
      <details>
        <summary>debug posts</summary>
        <code>{JSON.stringify(posts, undefined, 2)}</code>
      </details>
    )
  }
</IndexLayout>

<style>
  .nav {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
  }
</style>
