---
type FeedType = {
  name: string
  path: string
}

const feeds: FeedType[] = [
  {
    name: 'Todo',
    path: '/'
  },
  {
    name: 'Artículos',
    path: '/articles'
  },
  // {
  //   name: 'Notas',
  //   path: '/notes'
  // },
  {
    name: 'Fotos',
    path: '/photos'
  }
]

const currentPath = Astro.url.pathname
---

<nav class="navbar">
  <ul class="navbar-list">
    {
      feeds.map((feed) => (
        <li class="navbar-item">
          <a class="navbar-link" href={feed.path} data-active={currentPath === feed.path}>
            {feed.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style is:inline>
  .navbar {
    border: 1px solid var(--border);
    border-radius: var(--rounded-sm);
    width: fit-content;
    height: 100%;
    max-height: 32px;
    padding: 1px;
    background-color: var(--bg-secondary);
  }

  .navbar-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    background-color: var(--border);
    font-family: var(--font-ui);
    letter-spacing: var(--spacing-l);
  }

  .navbar-item {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-link {
    text-decoration: none;
    color: var(--text-secondary);
    padding: 0 8px;
    line-height: 1;
    position: relative;
    display: inline-block;
    font-size: var(--font-size-m);

    padding: 6px 33px;
    background-color: var(--bg-secondary);
    @media (min-width: 320px) {
      padding: 6px 1.6rem;
    }

    &:hover {
      background-color: var(--bg-tertiary);
      color: var(--text-primary);
    }

    &[data-active='true'] {
      color: var(--text-primary);
      font-weight: 500;

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 0 20px;
        bottom: -1px;
        height: 0;
        border: 2px solid var(--text-primary);
        border-radius: 3px 3px 0 0;
      }
    }
  }
</style>
